


<div class="container" style="width:70%">
    <div>
        <label style="font-size:44px;font-weight:bold">Iniciar Sesión.</label><br />
        <label style="font-size:18px;margin-top:-15px">Para poder ingresar debe iniciar sesión. Ingrese su usuario y contraseña.</label>
    </div>
    <div class="row">
        <div class="col-12">
            <label for="exampleFormControlInput1" class="form-label">Usuario</label>
            <input type="text" class="form-control" id="exampleFormControlInput1">
        </div>
        <div class="col-12">
            <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="exampleFormControlInput1">
        </div>
        
        <div class="col-12">
            <br />
            <a class="btn btn-primary" href="/Gestion/panel" role="button" style="width:100%">Ingresar</a>
        </div>
        
    </div>
</div>