<div class="container" style="width:70%">
    <div>
        <label style="font-size:44px;font-weight:bold">Bienvenido.</label><br/>
        <label style="font-size:18px;margin-top:-15px">Seleccione una de las opciones displonibles.</label>
    </div>
    <div class="row">

        <div class="col-4">
            <br />
            <a class="btn btn-secondary" href="/Gestion/panel" role="button" style="width:100%">Cheking</a>
        </div>

        <div class="col-4">
            <br />
            <a class="btn btn-secondary" href="/Gestion/panel" role="button" style="width:100%">Agregar Servicios</a>
        </div>

        <div class="col-4">
            <br />
            <a class="btn btn-secondary" href="/Gestion/panel" role="button" style="width:100%">CheckOut</a>
        </div>
    </div>
</div>